<div id="chooseMode" [style]="{background: gameService.sessionColor}">

    <div *ngIf="!gameService.choosenMode">
        <button mat-raised-button (click)="chooseMode('local')">Local</button>
        <button mat-raised-button (click)="chooseMode('online')">Online</button>
    </div>
    <div *ngIf="gameService.choosenMode">

        <div id="createdPlayers" fxLayout="row" fxLayoutAlign="center space-around">
            <mat-card *ngFor="let player of gameService.players" fxLayout="column" fxLayoutAlign="center space-around">

                <th-canvas [style]="{backgroundColor: this.gameService.sessionColor, height: '200px', width: '200px'}" >
                    <th-scene [thStats]="false" >
                        <th-ambientLight> </th-ambientLight>
    
                
                        <th-object3D
                            loadGLTF
                            [url]="'/assets/blenderModels/pawns/' + player.pawn.choosenPawnValue + '.gltf'"
                            [position]="[0,0,0]"
                      
                        >
                        </th-object3D>
    
    
                  
                        <th-perspectiveCamera
                            [args]="[75, 2, 0.1, 1000]"
                            [position]="[15,15,15]"
                        >
                        <th-mapControls></th-mapControls>
                        </th-perspectiveCamera>
                      
                    </th-scene>
                  </th-canvas>
                  
            
                
                <span>{{player.pawn.choosenPawnLabel}}</span>
                <span>{{player.name}}</span>
                <span>{{player.money}}</span>
    
            </mat-card>

            <mat-card id="createPlayer" *ngIf="gameService.pawnTypes.length">

                <div class="choosePawn">
                    <th-canvas [style]="{backgroundColor: this.gameService.sessionColor, height: '200px', width: '200px'}" >
                        <th-scene [thStats]="false" >
                            <th-ambientLight> </th-ambientLight>
        
                            <!--loadObj-->
                            <th-object3D
                                loadGLTF
                                [url]="'/assets/blenderModels/pawns/' + this.gameService.pawnTypes[pawnModelCounter].value + '.gltf'"
                                [position]="[0,0,0]"
                            >
                            </th-object3D>
        
        
                      
                            <th-perspectiveCamera
                                [args]="[75, 2, 0.1, 1000]"
                                [position]="[3,5,8]"
                            >
                            <!--<th-mapControls></th-mapControls>-->
                            </th-perspectiveCamera>
                          
                        </th-scene>
                      </th-canvas>
                  
                    <div class="pawnModel" *ngFor="let pawn of filterPawns();let i = index">
                       
                        <div *ngIf="i == pawnModelCounter">
                            <div class="pawnChange">
                                <button  mat-icon-button (click)="changeModel('minus')" [disabled]="pawnModelCounter==0"><mat-icon>chevron_left</mat-icon></button>
            
                                <span>{{pawn.name}}</span>
            
                                <button  mat-icon-button (click)="changeModel('plus')" [disabled]="pawnModelCounter>=(filterPawns().length - 1)"><mat-icon>chevron_right</mat-icon></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
               <div fxLayout="column" fxLayoutAlign="center space-around">
                    <mat-form-field>
                        <mat-label>player Name</mat-label>
                        <input matInput autocomplete="off" placeholder="Insert Here Your Name" [(ngModel)]="playerName">
                    </mat-form-field>
                    
                    <span>{{gameService.playersModel.money}}</span>
    
                    <button id="addSpecialPawn" [matMenuTriggerFor]="specialPawnMenu" mat-mini-fab fxLayoutAlign="center center"><mat-icon>add</mat-icon></button>
                    
                    <mat-menu #specialPawnMenu="matMenu">
                        <mat-form-field >
                            <mat-label>Special Code</mat-label>
                            <input matInput autocomplete="off" (click)="$event.stopPropagation()" placeholder="Insert Here Your Name" [(ngModel)]="gameService.specialPawn">
                        </mat-form-field>
                    </mat-menu>
                    <button mat-raised-button [disabled]="disableJoinButton()" (click)="gameService.createPlayer(playerName, pawnModelCounter);createPlayer()">Join</button>
               </div>
    
            </mat-card>
        </div>


        


        <div id="startGame" fxLayoutAlign="center center">
            <button class="startGameBtn"  mat-raised-button (click)="gameService.startGame()" [disabled]="gameService.players.length<2">PLAY</button>
        </div>
    </div>
    
</div>