<th-object3D
    loadGLTF
    [url]="'../../../../assets/blenderModels/decorations/boat/boat.gltf'"
    [position]="[randomStartingPointX,0,randomStartingPointZ]"
    [scale]="[randomscale,randomscale,randomscale]"
    #boatRef
>
</th-object3D>

<th-object3D
    loadGLTF
    [url]="'../../../../assets/blenderModels/decorations/boat/boat.gltf'"
    [position]="[randomStartingPointX,0,randomStartingPointZ]"
    [scale]="[randomscale + 0.05,randomscale + 0.05,randomscale + 0.05]"
    [name]="'boat_outline'"
    (onLoaded)="setOutline()"
    #boatRefOutline
>
</th-object3D>