@font-face {
    font-family: ailerons;
    src: url(../assets/fonts/ailerons-regular-webfont.woff);
}
@font-face {
    font-family: mova;
    src: url(../assets/fonts/Mova/Mova.ttf);
}
@font-face {
    font-family: bebasNeue;
    src: url(../assets/fonts/BebasNeue-Regular/BebasNeue-Regular.ttf);
}
#routerContainer{
    width: 100%;
    height: 100%;
}
/*::ng-deep *:not(.material-icons):not(.material-symbols-outlined){
    font-family: ailerons!important;
}*/