#chooseMode{
    min-height: 100vh;
    min-width: 100vw;
    .chooseModeContainer{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            width: 180px;
            height: 100px;
            font-size: 24px;
            font-family: 'mova';
            ::ng-deep .mat-button-wrapper{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                span{
                    height: 30px;
                    display: flex;
                    justify-content: center;
                }
                mat-icon{
                    margin-left: 10px;
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                }
            }
           
        }
    }

    #startGame{
        width: 100%;
        margin-top: 20px;
        button{
            width: 200px;
            height: 50px;
            background: #c4dfc4;
            font-weight: bold;
        }
    }
    #localSaves{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .localSave{
            height: 200px;
            width: 200px;
            z-index: 0;
            position: relative;
            cursor: pointer;
            .saveContainer{
                width: 100%;
                height: 100%;
                pointer-events: none;
                mat-form-field,button{
                    pointer-events: all;
                }
                mat-icon{
                    pointer-events: none;
                }
                .title{
                    font-weight: bold;
                    font-size: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 180px;
                    text-align: center;
                }
                .timeBegan{
                    font-size: 12px;
                    margin-top: 10px;
                }
            }

            .deleteBtn{
                position: absolute;
                top: 5px;
                right: 5px;
                pointer-events: all;
                z-index: 2;
            }
        }
    }
    #addSpecialPawn{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background: #fff;
        width: 25px;
        height: 25px;
        color: black;
    }

    #players{
        #createdPlayers{
            .creationContainer{
                //margin-top: 20px;
            }
            .createdPlayersContainer{
              .playerCard{
                .info{
                    height: 25px;
                    display: flex;
                    align-items: center;
                    .label{
                        width: 30%;
                        display: flex;
                        align-items: center;
                    }
                    .value{
                        width: 130px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                
              }
               
            }
        }
        .go-back-home{
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }
    }
   

    #mapsContainer{
        width: 100%;
        height: 100px;
        margin-top: 20px;
        mat-card.map{
            height: 100%;
            width: 150px;
            margin-right: 20px;
            font-family: ailerons;
        }

        .chosenMap{
            border: 1px solid black;
            width: 25px;
            height: 25px;
            
        }
    }
}

@media screen and (max-width: 600px) {
    .chooseModeContainer{
        flex-direction: column;
        button{
            margin-top: 50px;
        }
    }
    
    #players{
        padding: 60px 0px;
        .createdPlayersContainer{
            flex-wrap: wrap;
            justify-content: space-between;
            .playerCard{
                margin-top: 10px;
            }
        }
    }
    #localSaves{
        flex-direction: column;
        padding: 50px 0px;
    }
    #startGame{
        padding: 20px 0px;
    }
}
@media screen and (min-width: 600px) {
    .chooseModeContainer{
        flex-direction: row;
        button{
            margin-left: 50px;
        }
    }

    #localSaves{
        flex-direction: row;
    }
    #players{
        padding-top: 50px;
        #createdPlayers{
            .createdPlayersContainer{
                justify-content: center;
                margin-right: 20px;
                .playerCard{
                    margin-right: 20px;
                }
            }
        }
    }
    #mapsContainer{
        position: absolute;
        bottom: 150px;
    }
    #startGame{
        position: absolute;
        bottom: 50px;
        right: 20px;
    }
}