<div id="chooseMode" [style]="{background: gameService.sessionColor}">

    <div *ngIf="gameService.choosenMode == 'local' && !gameService.localSaveName" id="localSaves">
        <mat-card *ngFor="let saveFile of gameService.allLocalSaves; let i = index"  class="localSave" (click)="createOrUploadGame(saveFile,i)">
            <div *ngIf="saveFile == 'new'" fxLayoutAlign="center center" class="saveContainer" fxLayout="column">
                <mat-icon *ngIf="gameService.localSave.localId != ('rekordLocalSave' + i)">add</mat-icon>
                <mat-form-field *ngIf="gameService.localSave.localId == ('rekordLocalSave' + i)">
                    <mat-label>Game Name:</mat-label>
                    <input matInput autocomplete="off" (click)="$event.stopPropagation()" placeholder="Insert Here tha name of the game" [(ngModel)]="gameService.localSave.gameName" [maxLength]="12">
                </mat-form-field>

                <button mat-raised-button (click)="gameService.selectLocalData(i)" *ngIf="gameService.localSave.localId == ('rekordLocalSave' + i)" [disabled]="!gameService.localSave.gameName">Continue</button>
            </div>
            <div *ngIf="saveFile != 'new'" fxLayout="column" fxLayoutAlign="center center" class="saveContainer">
                <span class="title">{{saveFile.gameName}}</span>
                <span class="timeBegan">{{calculateGameTime(saveFile)}}</span>
            </div>

            <div class="contextMenu">
                <button *ngIf="saveFile != 'new'"  mat-icon-button class="deleteBtn" [matMenuTriggerFor]="saveInfo" (click)="$event.stopPropagation()"> <mat-icon>more_vert</mat-icon> </button>
                <mat-menu #saveInfo="matMenu">
                    <button mat-menu-item (click)="deleteSaveFile(saveFile)"><mat-icon>delete</mat-icon> Delete File</button>
                  </mat-menu>
            </div>


        </mat-card>
    </div>

    <div *ngIf="gameService.choosenMode && gameService.localSaveName" id="players">
        <button class="go-back-home" mat-raised-button (click)="gameService.goBackHome()"><mat-icon>arrow_back</mat-icon> Home</button>

        <div id="createdPlayers" [fxLayout]="gameService.returnInclude(gameService.userDevice, 'computer' )? 'row' : 'column-reverse'">

            <div class="createdPlayersContainer" fxLayout="row" fxLayoutAlign="center center">
                <mat-card class="playerCard" *ngFor="let player of gameService.players" fxLayout="column" fxLayoutAlign="center space-around" [@mmAnimationScale]>
                    <th-canvas [style]="{backgroundColor: this.gameService.sessionColor, height: '250px', width: '200px'}" >
                        <th-scene [thStats]="false" >
                            <th-ambientLight> </th-ambientLight>
                            <th-object3D
                                loadGLTF
                                [url]="'/assets/blenderModels/pawns/' + player.pawn.choosenPawnValue + '/scene.gltf'"
                                [position]="[0,0,0]"
                                [rotation]="[0,-2,0]"
                          
                            >
                            </th-object3D>
                            <th-perspectiveCamera
                                [args]="[75, 2, 0.1, 1000]"
                                [position]="[0,5,10]"
                            >
                            </th-perspectiveCamera>
                          
                        </th-scene>
                      </th-canvas>
                    <div class="info">
                        <span class="label">Name: </span>
                        <span class="value">{{player.name}}</span>
                    </div>
                    <div class="info">
                        <span class="label">Pawn: </span>
                        <span class="value">{{player.pawn.choosenPawnLabel}}</span>
                    </div>
                    <div class="info">
                        <span class="label">Money: </span>
                        <span class="value">{{player.money}}</span>
                    </div>
        
                </mat-card>
            </div>

            <div class="creationContainer">
                <mat-card id="createPlayer" *ngIf="gameService.players.length < 4">

                    <div class="choosePawn">
                        <th-canvas [style]="{backgroundColor: this.gameService.sessionColor, height: '250px', width: '200px'}" >
                            <th-scene [thStats]="false" >
                                <th-ambientLight> </th-ambientLight>
                                <th-object3D
                                    loadGLTF
                                    [url]="'/assets/blenderModels/pawns/' + gameService.pawnTypes[pawnModelCounter].value + '/scene.gltf'"
                                    [position]="[0,0,0]"
                                    [rotation]="[0,-2,0]"
                                >
                                </th-object3D>
                          
                                <th-perspectiveCamera
                                    [args]="[75, 2, 0.1, 1000]"
                                    [position]="[0,5,10]"
                                >
                                </th-perspectiveCamera>
                              
                            </th-scene>
                          </th-canvas>
                      
                        <div class="pawnModel" *ngFor="let pawn of filterPawns();let i = index">
                           
                            <div *ngIf="i == pawnModelCounter">
                                <div class="pawnChange"  fxLayout="row" fxLayoutAlign="space-between center">
                                    <button  mat-icon-button (click)="changeModel('minus')" [disabled]="pawnModelCounter==0"><mat-icon>chevron_left</mat-icon></button>
                
                                    <span>{{pawn.name}}</span>
                
                                    <button  mat-icon-button (click)="changeModel('plus')" [disabled]="pawnModelCounter>=(filterPawns().length - 1)"><mat-icon>chevron_right</mat-icon></button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
        
                   <div class="pawnInfoContainer" fxLayout="column" fxLayoutAlign="center space-around">
                        <mat-form-field>
                            <mat-label>Choose Your Name</mat-label>
                            <input matInput autocomplete="off" placeholder="Insert Here Your Name" [(ngModel)]="playerName" [maxLength]="12">
                        </mat-form-field>
        
                        <!-- <button id="addSpecialPawn" [matMenuTriggerFor]="specialPawnMenu" mat-mini-fab fxLayoutAlign="center center"><mat-icon>add</mat-icon></button>
                        
                        <mat-menu #specialPawnMenu="matMenu">
                            <mat-form-field class="specialPawnInput">
                                <mat-label>Special Code</mat-label>
                                <input matInput autocomplete="off" (click)="$event.stopPropagation()" [(ngModel)]="gameService.specialPawn">
                            </mat-form-field>
                        </mat-menu> -->
                        <button mat-raised-button [disabled]="disableJoinButton()" (click)="gameService.createPlayer(playerName, pawnModelCounter);createPlayer()">Join</button>
                   </div>
        
                </mat-card>
            </div>

           
        </div>

        <div id="mapsContainer">
            <mat-card class="map" *ngFor="let map of gameService.gameMaps" fxLayout="row">
                <span class="chosenMap" (click)="gameService.chosenMap = map" fxLayoutAlign="center center"><mat-icon *ngIf="gameService.chosenMap==map">check</mat-icon></span>
                <span class="title">{{map}}</span>
            </mat-card>
        </div>
        <div id="startGame" [fxLayoutAlign]="(gameService.returnInclude(gameService.userDevice, 'computer' ) ? 'end' : 'center') + ' center'">
            <button class="startGameBtn"  mat-raised-button (click)="gameService.startGame()" [disabled]="gameService.players.length<2">PLAY</button>
        </div>
    </div>
    
</div>