<div id="cardInfo" fxLayout="column" fxLayoutAlign="center start">
    <span class="cardName">{{data.card.name}}</span>
    <span class="cardCost"> {{data.card.cost}} €</span>


    <button mat-raised-button (click)="gameService.buyProperty(data.card);close()" *ngIf="data.card.canBuy">Compra</button>
    <button mat-raised-button  *ngIf="data.card.owner == gameService.actualTurnPlayer.name" (click)="gameService.sellProperty(data.card);close()">Vendi</button>
   
    <button mat-raised-button *ngIf="!data.card.distrained && data.card.owner == gameService.actualTurnPlayer.name" (click)="gameService.distrainProperty(data.card);close()">Pignora</button>

    <button mat-raised-button *ngIf="data.card.distrained && data.card.owner == gameService.actualTurnPlayer.name" (click)="gameService.cancelDistrainedFromProperty(data.card)">Remove pignora</button>
</div>