<th-object3D
    loadGLTF
    [url]="'/assets/blenderModels/pawns/' + player.pawn.choosenPawnValue + '/scene.gltf'"
    [scale]="player.pawn.scale"
    #playerRef
>
</th-object3D>

<!-- (onLoaded)="gameService.getObjectScreenPosition(playerRef)" -->
<th-object3D
    loadGLTF
    [url]="'/assets/blenderModels/pawns/' + player.pawn.choosenPawnValue + '/scene.gltf'"
    [scale]="[0.053,0.053, 0.053]"
    [name]="'player_outline'"
    (onLoaded)="setOutline();rotatePlayer(player.pawn.rotation[1], false)"
    #playerRefOutline
>
</th-object3D>


<th-object3D
[position]="cagePosition"
[scale]="[0,0,0]"
loadGLTF
[url]="'/assets/blenderModels/card/definitiveCard/prisonCage.gltf'"
#cageRef
>
</th-object3D>