
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monopoly-primary: mat.define-palette(mat.$indigo-palette);
$monopoly-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$monopoly-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$monopoly-theme: mat.define-light-theme((
  color: (
    primary: $monopoly-primary,
    accent: $monopoly-accent,
    warn: $monopoly-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($monopoly-theme);

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Dialogs
.mat-dialog-container{
  padding: 0!important;
  overflow: hidden;
}
.exchangePanel{
  max-width: 60%;
  max-height: 80%;
  .mat-dialog-container{
    border-radius: 0px 5px 5px 5px;
    position: relative;
    overflow: visible;
  }
}
.propertyInfo , .completedSeriesInfo{
    width: 100%;
    pointer-events: none!important;
    .mat-dialog-container{
        transform: none;
        background: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        app-card-dialog{
          pointer-events: all;
        }
    }
}

.messageDialog{
  .mat-dialog-container{
    background: none;
    box-shadow: none;
  }
}

.completedSeriesInfo{
  .mat-dialog-container{
    justify-content: center;
    position: relative;
    app-card-dialog{
      width: 100%;
    }
  }
}
.cdk-global-scrollblock{

}

.showDiceResult{
  .mat-dialog-container{
    background: transparent;
    box-shadow: none;
    padding: 0;
    display: flex;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
  }
  .dice{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
    .dotsContainer{
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .dot{
        width: 15px;
        height: 15px;
        background: #000;
        border-radius: 50%;
      }
    }

    &.three{
      .dotsContainer{
        transform: rotate(45deg);
      }
    }

    &.four{
      .dotsContainer{
        flex-direction: column;
        .innerDotsContainer{
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
    }
    &.five{
      .dotsContainer{
        flex-direction: column;
        .innerDotsContainer{
          width: 100%;
          height: 33.33%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
    &.six{
      .dotsContainer{
        flex-direction: row;
        .innerDotsContainer{
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
        }
      }
    }
  }
}

.theme-edit-dialog{
  .editing-container{

    display: flex;
    flex-direction: row;

    &__background{

      width: 300px;
      height: 300px;

      &__card-color{
        width: 100px;
        height: 100px;
        border-width: 2px;
        border-style: solid;
      }
    }

    &__input-container{
      padding: 15px;
      &__input_wrapper{
        input[type="color"]{
          width: 25px;
          height: 25px;
        }
      }
    }

  }
}
.save-themes-dialog{
  width: 300px;

  .save-container{

    padding: 20px;
  
    &__title{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    &__buttons-container{
      margin-top: 20px;
    }

  }
}


.card-edit-dialog{

  .card-editing-container{
    padding: 20px;

    &__card{

      &__delete-card{
        width: 100%;
      }
      .cardForm{
        width: 220px;
        height: 350px;
        position: relative;
        border-radius: 0px 4px 4px 4px;
        &.owned{
            border-radius: 0px 0px 4px 4px;
        }
    
        .propDistrict{
            position: absolute;
            height: 50px;
            width: calc(100% - 32px);
        }
        .cardCosts{
            margin-top: 55px;
            .rentsWithProps{
                .props{
                    .house, .hotel{
                        height:20px;
                        position: relative;
                        margin-top: 5px;
                        span{
                            position: absolute;
                            z-index: 2;
                            font-size: 10px;
                            color: #fff;
                        }
                    }
                   .hotel{
                        mat-icon{
                            color: red;
                        }
                        span{
                            background: red;
                        }
                    }
                    .house{
                        mat-icon{
                            color: green;
                        }
                        span{
                            background: green;
                        }
                    }
                }
                .rent{
                    width: 100%;
                    .house,.hotel{
                        margin-top: 5px;
                    }
                }
            }
        }
        .separator{
            height: 0.5px;
            width: 100%;
            background: grey;
        }
    }
    }

    &__inputs-container{

      padding: 20px;
      flex-wrap: wrap;

      &__input_wrapper{
        input[type="color"]{
          width: 25px;
          height: 25px;
        }
      }

    }

  }

}

.warning-delete-dialog{
  width: 300px;

  .warning-container{

    padding: 20px;
  
    &__title{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    &__buttons-container{
      margin-top: 20px;
    }

  }
}

.mat-option[aria-disabled="true"]{
  pointer-events: none;
}

.god-mode-dialog{
  .god-container{
    width: 300px;
    padding: 20px;

    &__title{
      font-size: 18px;
      font-weight: bold;
      &.error{
        color: red;
      }
    }
  }
}

.home-info-dialog{
  width: 400xp;
  font-size: 18px;
  .info-container{
    padding: 20px;

    .bold{
      font-weight: bold;
    }

  }
}

//On Mobile
@media screen and (max-width: 600px) {
  .propertyInfo{
    .mat-dialog-container{
      justify-content: center;
    }
  }

  .card-edit-dialog .card-editing-container{
    padding: 20px;
    overflow-y: scroll;
    height: 600px;
    flex-direction: column!important;
    align-items: center;
  }

  .theme-edit-dialog{
    .editing-container{
      display: flex;
      flex-direction: column;
    }
  }
}

//On Tablets , PC
@media screen and (min-width: 600px) {
  .propertyInfo{
    .mat-dialog-container{
      justify-content: end;
    }
  }
}