<th-object3D
    loadGLTF
    [url]="url"
    [position]="position"
    [rotation]="rotation"
    (onClick)="((cardIndex == gameService.diceNumber && card.canBuy) || card.owner == gameService.actualTurnPlayer.id) && (card.cardType=='property' || card.cardType=='station' || card.cardType=='plant') && (gameService.playerWhoWonId == '')?  gameService.openCardDialog(card): ''"
    [receiveShadow]="true"
    [castShadow]="true"
    [name]="'cardNumber'+ cardIndex"
    #cardRef
>
<!-- OTHER EVENTS onMouseEnter   onMouseExit-->
</th-object3D>

<div *ngIf="card.housesCounter && !card.hotelCounter">
  <app-house *ngFor="let item of [].constructor(card.housesCounter);let i = index" [card]="card" [cardPosition]="position" [cardRotation]="rotation" [houseIndex]="i+1" [cardIndex]="cardIndex"></app-house>
</div>

<div *ngIf="card.hotelCounter && card.housesCounter==4">
  <app-hotel *ngFor="let item of [].constructor(card.hotelCounter);let i = index" [card]="card" [cardPosition]="position" [cardRotation]="rotation" [cardIndex]="cardIndex"></app-hotel>
</div>
<th-mesh
  *ngIf="card.cardType=='property'"
  [rotation]="rotation"
  [position]="carpetPosistion"
  [scale]="[2, 0.1, 0.4]"
  [receiveShadow]="true"
  [castShadow]="true"
  #carpetRef
>
  <th-boxGeometry></th-boxGeometry>
  <th-meshStandardMaterial [args]="{color: card.district}"></th-meshStandardMaterial>
</th-mesh>