<th-object3D
    loadGLTF
    [url]="url"
    [position]="position"
    [rotation]="rotation"
    (onClick)="(cardIndex == gameService.diceNumber || card.owner == gameService.actualTurnPlayer.id) && (card.cardType=='property' || card.cardType=='station' || card.cardType=='plant')?  gameService.openCardDialog(card): '';test()"
    [receiveShadow]="true"
    [castShadow]="true"
    [name]="'cardNumber'+ cardIndex"
    #cardRef
>
</th-object3D>

<div *ngIf="card.housesCounter && !card.hotelCounter">
  <app-house *ngFor="let item of [].constructor(card.housesCounter);let i = index" [card]="card" [cardPosition]="position" [cardRotation]="rotation" [houseIndex]="i"></app-house>
</div>

<div *ngIf="card.hotelCounter && card.housesCounter==4">
  <app-hotel *ngFor="let item of [].constructor(card.hotelCounter);let i = index" [card]="card" [cardPosition]="position" [cardRotation]="rotation"></app-hotel>
</div>


<!--<th-object3D
    loadGLTF
    [url]="houseUrl"
    [position]="position"
    [rotation]="rotation"
    [receiveShadow]="true"
    [castShadow]="true"
    *ngIf="card.hotelCounter"
>
</th-object3D>-->



<!--<th-mesh
  [rotation]="rotation"
  [position]="position"
  [scale]="[1, 3, 0.1]"
  [receiveShadow]="true"
  [castShadow]="true"
>
  <th-boxGeometry></th-boxGeometry>
  <th-meshStandardMaterial [args]="{color: 'purple'}"></th-meshStandardMaterial>
</th-mesh>-->
