<div *ngIf="decorationIsIncluded('water_wave')">
    <app-water-wave-item *ngFor="let item of [].constructor(randomWavesNum)"></app-water-wave-item>
</div>

<div *ngIf="decorationIsIncluded('cloud')">
    <app-cloud-item *ngFor="let item of [].constructor(randomCloudsNum)" (recalculateRandomNum)="recalculateRandomNums('cloud')"></app-cloud-item>
</div>

<div *ngIf="decorationIsIncluded('boat')">
    <app-boat-item *ngFor="let item of [].constructor(randomBoatNum)" (recalculateRandomNum)="recalculateRandomNums('boat')"></app-boat-item>
</div>

<div *ngIf="decorationIsIncluded('grain')">
    <div id="grainTexture"> </div>
</div>

<div *ngIf="decorationIsIncluded('grass')">
    <app-grass-item *ngFor="let item of [].constructor(randomGrassNum)"></app-grass-item>
</div>

<div *ngIf="decorationIsIncluded('rain')">
    <app-rain-drops-item *ngFor="let item of [].constructor(randomRainDropsNum)"></app-rain-drops-item>
</div>


