#exchangeContainer{
    .choosePlayer{

    }
    .exchangeContainer{
        .exchangeProperties{
            display: flex;
            align-items: start;
            justify-content: start;
        }
        .titleContainer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
            height: 30px;
            .exchangeGoBackBtn{
                min-width: unset;
                width: 30px;
                height: 30px;
            }
            span{
                font-weight: bold;
                margin-left: 10px;
            }
        }
        
        .handshakeButton{
            margin-top: 10px;
            width: 200px;
            height: 50px;
            background: #c4dfc4;
            font-weight: bold;
            color: #fff;
        }
    }
   
}


@media screen and (max-width: 600px) {
    .exchangeProperties{
        flex-direction: column;
    }
    
}
@media screen and (min-width: 600px) {
    .exchangeProperties{
        flex-direction: row;
    }
    
}