<div id="exchangeContainer" fxLayout="row" fxLayoutAlign="space-around center">

    <div *ngIf="!playerToExchangeWith" class="choosePlayer">
        <button mat-raised-button *ngFor="let player of getPlayersToExchangeWith()" (click)="selectPlayerToExchange(player)" [disabled]="player.bankrupt">
            <span>{{player.name}}</span>
        </button>
    </div>

    <div *ngIf="playerToExchangeWith && !startExchange" class="exchangeContainer" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="exchangeProperties">
            <mat-card fxLayout="column" fxLayoutAlign="space-around center">
                <div class="titleContainer">
                    <span>{{gameService.players[gameService.turn].name}}</span>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Amount of Money</mat-label>
                    <input matInput type="number" [(ngModel)]="moneyToExchange[0]">
                </mat-form-field>
                <app-player-properties [playerId]="gameService.players[gameService.turn].id" [imInExchange]="true"></app-player-properties>
            </mat-card>
    
            <mat-card fxLayout="column" fxLayoutAlign="space-around center">
                <div class="titleContainer">
                    <button mat-icon-button fxLayoutAlign="center center" (click)="goBackToSelection()" class="exchangeGoBackBtn" [matTooltipPosition]="'above'" matTooltip="Change Player"><mat-icon fxLayoutAlign="center center">arrow_back</mat-icon></button>
                    <span>{{playerToExchangeWith.name}}</span>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Amount of Money</mat-label>
                    <input matInput type="number" [(ngModel)]="moneyToExchange[1]">
                </mat-form-field>
                <app-player-properties [playerId]="playerToExchangeWith.id" [imInExchange]="true"></app-player-properties>
               
            </mat-card>
        </div>
        <button mat-raised-button (click)="startExchange = true" class="handshakeButton" [matTooltipPosition]="'above'" matTooltip="Finalise Exchange"> <mat-icon>handshake</mat-icon> </button>
        
    </div>



    <div *ngIf="startExchange">
        <button mat-raised-button (click)="finaliseExchange('refuse')"> <mat-icon>close</mat-icon> </button>
        <button mat-raised-button (click)="finaliseExchange('accept')"> <mat-icon>done</mat-icon> </button>
    </div>


</div>