<div id="exchangeContainer" fxLayout="row" fxLayoutAlign="space-around center">

    <div *ngIf="!playerToExchangeWith" class="choosePlayer">
        <button mat-raised-button *ngFor="let player of getPlayersToExchangeWith()" (click)="selectPlayerToExchange(player)" [disabled]="player.bankrupt">
            <span>{{player.name}}</span>
        </button>
    </div>

    <div *ngIf="playerToExchangeWith && !startExchange" class="exchangeContainer" fxLayout="row" fxLayoutAlign="space-around center">

        <button mat-icon-button fxLayoutAlign="center center" (click)="goBackToSelection()" class="exchangeGoBackBtn"><mat-icon fxLayoutAlign="center center">arrow_back_ios_new</mat-icon></button>

        <div class="exchangeProperties" fxLayout="row" fxLayoutAlign="start start">
            <mat-card fxLayout="column" fxLayoutAlign="space-around center">
                <span>{{gameService.actualTurnPlayer.name}}</span>
    
                <div fxLayout="row" class="propertiesContainer">
                    <mat-card class="property" *ngFor="let property of actualPlayerProps" [matTooltipPosition]="'above'" matTooltip="{{property.name}}" (click)="property.exchangeSelected = !property.exchangeSelected">
                        <span class="propDistrict" [ngStyle]="{'background': gameService.checkCardColorDistring(property.district)}"></span>
                        <span *ngIf="property.exchangeSelected" class="chosenProperty" fxLayoutAlign="center center"><mat-icon fxLayoutAlign="center center" >check</mat-icon></span>
                    </mat-card>
                </div>
    
                <mat-form-field appearance="fill">
                    <mat-label>Money</mat-label>
                    <input matInput type="number" [(ngModel)]="moneyToExchange[0]">
                </mat-form-field>
            </mat-card>
    
            <mat-card fxLayout="column" fxLayoutAlign="space-around center">
                <span>{{playerToExchangeWith.name}}</span>
    
                <div fxLayout="row" class="propertiesContainer">
                    <mat-card class="property" *ngFor="let property of playerToExchangeProps" [matTooltipPosition]="'above'" matTooltip="{{property.name}}" (click)="property.exchangeSelected = !property.exchangeSelected">
                        <span class="propDistrict" [ngStyle]="{'background': gameService.checkCardColorDistring(property.district)}"></span>
                        <span *ngIf="property.exchangeSelected" class="chosenProperty" fxLayoutAlign="center center"><mat-icon fxLayoutAlign="center center">check</mat-icon></span>
                    </mat-card>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Money</mat-label>
                    <input matInput type="number" [(ngModel)]="moneyToExchange[1]">
                </mat-form-field>
            </mat-card>
        </div>
        <button mat-raised-button (click)="startExchange = true"> <mat-icon>currency_exchange</mat-icon> </button>
        
    </div>



    <div *ngIf="startExchange">
        <button mat-raised-button (click)="finaliseExchange('refuse')"> <mat-icon>close</mat-icon> </button>
        <button mat-raised-button (click)="finaliseExchange('accept')"> <mat-icon>done</mat-icon> </button>
    </div>


</div>