.loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &__container{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__title{
            text-transform: uppercase;
            font-size: 24px;
            font-family: mova;
            
        }
    
        &__progression-bar{
            width: 50%;
            height: 10px;
            background-color: #fff;
            margin-top: 20px;
            border: 1px solid #000;
            &__inner{
                height: 10px;
                width: 100%;
            }
        }
    }    
}
#diceSvg{
   width: 200px;
   height: 200px;
   animation: spin 0.5s ease infinite;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

//On Mobile
@media screen and (max-width: 600px) {
    .loading{
        &__container{
            height: -webkit-fill-available;
        }    
    }
}

//On PC
@media screen and (min-width: 601px) {
    .loading{
        &__container{
            height: 100vh;
        }    
    }
}