<div id="gameContainer" fxLayout="column" fxLayoutAlign="center center">

    <th-canvas (onResize)=resizeCanvas($event) [style]="{background: this.gameService.sessionColor}" >
        <th-scene [thStats]="false" >
            <th-ambientLight></th-ambientLight>
      
                <app-card *ngFor="let card of gameService.gameTable.cards;let i = index" [card]="card" [cardIndex]="i"></app-card>


                <th-object3D
                    loadObj
                    *ngFor="let player of gameService.players"
                    [url]="'/assets/blenderModels/pawns/' + player.choosenPawnValue + '.obj'"
                    [position]="[0,0.2,0]"
                    [scale]="[0.05,0.05,0.05]"
                    
                >
                </th-object3D>


            
      
                <th-perspectiveCamera
                    [args]="[75, 2, 0.1, 1000]"
                    [position]="[1,1,5]"
                >
                    <!--<th-orbitControls></th-orbitControls>-->
                    <th-mapControls></th-mapControls>
                </th-perspectiveCamera>
          
        </th-scene>
      </th-canvas>
      

    <div id="playersContainer" fxLayout="column" fxLayoutAlign="space-around center">
       
        <mat-card *ngFor="let player of gameService.players" fxLayout="column" fxLayoutAlign="center start">
            <span>{{player.name}}</span>
            <span>{{player.money}} €</span>
        </mat-card>
    </div>

    <button mat-raised-button id="nextTurnBtn" *ngIf="gameService.diceNumber" (click)="gameService.nextTurn()">next turn</button>

    <button mat-raised-button id="diceBtn" *ngIf="gameService.actualTurnPlayer.canDice" (click)="gameService.rollTheDice()"><mat-icon>casino</mat-icon></button>

    <!--
        DELETE
        <button mat-raised-button (click)="gameService.setDB()">Set db</button>-->
</div>