#gameContainer{
    width: 100%;
    height: 100%;
    #gameCanvas{
        width: 100%;
        height: 100%;
    }
    #playersContainer{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        #playerCard{
            transition: all 250ms ease;
            &.bankRupt{
                opacity: 0.7;
                color: grey;
            }
        }
    }
    #gameButtons{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    #pauseBtn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .pausedGame{
        width: 100%;
        height: 100%;
        background: rgba(218, 217, 217, 0.493);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        button{
            margin-top: 20px;
        }
    }
}

.actualPlayerProperty{
    position: relative;
    .districtColor{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
    }
}

#manopoleDebug{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    pointer-events: none;
    &>*{
        pointer-events: all;
    }
}