#gameContainer{
    width: 100%;
    height: 100%;
    #gameCanvas{
        width: 100%;
        height: 100%;
    }
    #playersContainer{
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        .playerCard{
            transition: all 250ms ease;
            position: relative;
            pointer-events: all;
            &.bankrupt{
                background: #c73b2f;
                color: #fff;
                opacity: 0.7;
                /*&:after{
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    background-color: #fff;
                    transform: rotate(45deg);
                }*/
            }
            .actualTurnPlayer{
                position: absolute;
                top: -10px;
                right: -10px;
                height: 30px;
                width: 30px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
            }

            #passedStart{
                position: absolute;
                opacity: 1;
                right: -90px;
                top: 10px;
                width: 80px;
                transition: all 250ms ease;
                font-weight: bold;
                color: green;
            }
        }
    }
    #gameButtons{
        position: absolute;
        bottom: 20px;
        width: 100%;
        pointer-events: none;
        button{
            pointer-events: all;
        }
    }
    #pauseBtn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .pausedGame{
        width: 100%;
        height: 100%;
        background: rgba(218, 217, 217, 0.493);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        button{
            margin-top: 30px;
            width: 300px;
            height: 50px;
        }
    }
}

.actualPlayerProperty{
    position: relative;
    .districtColor{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
    }
}

@media screen and (max-width: 600px) {
    #playersContainer{
        flex-wrap: wrap;
        height: 390px;
        .playerCard{
            width: 100px;
            padding: 10px 0px!important;
            width: 100px!important;
            text-indent: 10px;
            .actualTurnPlayer{
                text-indent: 0px;
            }
            .name{
                width: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #playersContainer{
        height: 100%;
        .playerCard{
            width: 160px;
            padding: 10px!important;
            .name, .money{
                height: 25px;
                display: flex;
                align-items: center;
            }
        }
    }
}