#gameContainer{
    width: 100%;
    height: 100%;
    &.paused{
        filter: blur(5px);
    }
    &.hoveringCard{
        cursor: pointer;
    }
    #gameCanvas{
        width: 100%;
        height: 100%;
    }
    #playersContainer{
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: none!important;
        .playerCard{
            transition: all 250ms ease;
            position: relative;
            pointer-events: all;
            &.bankrupt{
                background: #c73b2f;
                color: #fff;
                opacity: 0.7;
                /*&:after{
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    background-color: #fff;
                    transform: rotate(45deg);
                }*/
            }
            .actualTurnPlayer{
                position: absolute;
                top: -10px;
                right: -10px;
                height: 30px;
                width: 30px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
            }

            #passedStart{
                position: absolute;
                opacity: 1;
                right: -90px;
                top: 10px;
                width: 80px;
                transition: all 250ms ease;
                font-weight: bold;
                color: green;
            }
        }
    }
    #gameButtons{
        position: absolute;
        bottom: 0px;
        width: 100%;
        pointer-events: none;
        padding: 10px;
        background: #ffffff08;
        button{
            pointer-events: all;
            .title{
                font-weight: bold;
            }

            &[disabled="true"] mat-icon.info{
                background:unset;
            }
        }
    }
    #pauseBtn{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
}

.actualPlayerProperty{
    position: relative;
    .districtColor{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
    }
}

@media screen and (max-width: 600px) {
    #playersContainer{
        flex-wrap: wrap;
        height: 390px;
        .playerCard{
            width: 100px;
            padding: 10px 0px!important;
            width: 100px!important;
            text-indent: 10px;
            .actualTurnPlayer{
                text-indent: 0px;
            }
            .name{
                width: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    #gameButtons{
        button{
            .title{
                display: none;
            }
            height: 45px;
            &#seeProperties{
                mat-icon.info{
                    position: absolute;
                    top: 20px;
                    right: 8px;
                    background: #fff;
                    border-radius: 50%;
                    font-size: 18px;
                    height: 18px;
                    width: 18px;
                    margin: 0;
                }
            }

            &#bankRupt{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after{
                    content: '';
                    width: 2px;
                    background: #fff;
                    height: 65%;
                    position: absolute;
                    transform: rotate(-45deg);
                }
            }
        }
    }
   

}

@media screen and (min-width: 600px) {
    #playersContainer{
        height: 100%;
        .playerCard{
            width: 160px;
            padding: 10px!important;
            .name, .money{
                height: 25px;
                display: flex;
                align-items: center;
            }
        }
    }

    #gameButtons{
        button{
            height: 50px;
            &#seeProperties{
                mat-icon.info{
                    position: absolute;
                    top: 20px;
                    right: 8px;
                    background: #fff;
                    border-radius: 50%;
                    font-size: 18px;
                    height: 18px;
                    width: 18px;
                    margin: 0;
                }
            }

            &#bankRupt{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after{
                    content: '';
                    width: 2px;
                    background: #fff;
                    height: 50%;
                    position: absolute;
                    transform: rotate(-45deg);
                }
            }

            &:not(#bankRupt) mat-icon{
                margin-left: 5px;
            }
        }
    }
}

#debugger{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100vh;
    padding: 0px 10px;
    background-color: #fdfd96;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    .title{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px 0px;
    }
    .theme{
        margin-top: 20px;
        mat-form-field{
            display: flex;
            input[type="color"]{
                width: 25px;
                height: 25px;
            }
        }
    }
    .camera{
        margin-top: 20px;
    }
}

.pausedGame{
    width: 100%;
    height: 100%;
    background: rgba(218, 217, 217, 0.493);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    button{
        margin-top: 30px;
        width: 300px;
        height: 50px;
        &#debugButton{
            background: #fdfd96;
        }
    }
}