<div id="gameContainer" fxLayout="column" fxLayoutAlign="center center" [ngClass]="[gameService.gamePaused ? 'paused' : '', gameService.enableCursor ? 'hoveringCard' : '']">

    <th-canvas id="gameCanvas" #canvas (onResize)="gameService.resizeCanvas($event, camera)" [shadow]="false" [rendererParameters]="gameService.rendererOptions" [ngStyle]="{background : gameService.sessionTheme.background}" (onRender)="resizeCanvas($event); gamePhysicsService.renderPhysicsWorld()">
        <th-scene [autoUpdate]="true" #scene>
            
            <th-ambientLight #ambientLight [castShadow]="false"></th-ambientLight>
            <th-hemisphereLight [castShadow]="false"></th-hemisphereLight>
            <app-card *ngFor="let card of gameService.gameTable.cards;let i = index" [card]="card" [cardIndex]="i" [scene]="scene"></app-card>
            <app-player *ngFor="let player of gameService.players" [player]="player"></app-player>

            <app-dice *ngIf="gameService.startToDice"></app-dice>
            <app-dice *ngIf="gameService.startToDice"></app-dice>

            <th-orthographicCamera
                [left]="-gameService.distance * this.gameService.aspect"
                [right]="(gameService.distance * this.gameService.aspect)"
                [top]="gameService.distance"
                [bottom]="-gameService.distance"
                [near]="-1000"
                [far]="2000"
                [position]="[-10,10,-10]"
                [zoom]="gameService.cameraZoom"
                #camera
                
            >
                <th-mapControls #cameraControls [target]="[8,0,8]" [enablePan]="gameService.godMode" [enableZoom]="true" [enableDamping]="gameService.godMode" [enableRotate]="gameService.godMode"></th-mapControls>
            </th-orthographicCamera>

            <app-decoration-item [whereAmI]="'insideCanvas'"></app-decoration-item>
        </th-scene>
    </th-canvas>

    <app-decoration-item [whereAmI]="'outsideCanvas'"></app-decoration-item>
      
    <div id="playersContainer" fxLayout="column" fxLayoutAlign="space-around start">
        <mat-card *ngFor="let player of gameService.players" [@mmAnimationScale] [ngClass]="['playerCard',player.bankrupt? 'bankrupt': 'noBankrupt']" fxLayout="column" fxLayoutAlign="center start">
            <span class="name">{{player.name}}</span>
            <span class="money">{{player.money}} €</span>
            <mat-icon *ngIf="gameService.players[gameService.turn].id === player.id" class="material-symbols-outlined actualTurnPlayer" [@mmAnimationScale]>person</mat-icon>
            <div id="passedStart" *ngIf="(player.addingMoney || player.removingMoney) && !player.bankrupt" [@passedStartMoney]>
                <span [ngStyle]="{'color': player.addingMoney ? 'green' : 'red'}"> <span [innerHTML]="player.addingMoney ? '+' : '-'"></span> {{gameService.playerMoneyChangeValue}}</span>
            </div>

        </mat-card>
    </div>

    <div id="gameButtons" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button id="bankRupt" *ngIf="!gameService.players[gameService.turn].canDice" (click)="gameService.askIfShouldGoBankrupt()" [disabled]="gameService.playerWhoWonId != '' || gameService.movingCamera" color="warn" [matTooltipPosition]="'above'" matTooltip="Go Bankrupt"><mat-icon class="material-symbols-outlined">home</mat-icon></button>
        <button mat-raised-button id="seeProperties" *ngIf="!gameService.players[gameService.turn].canDice" [disabled]="!getActualPlayerProps().length && !gameService.players[gameService.turn].prison.getOutCards || gameService.playerWhoWonId != '' || gameService.movingCamera" (click)="gameService.showPlayerProps()" [matTooltipPosition]="'above'" matTooltip="See Player Info"><span class="title">Player Info</span><mat-icon class="material-symbols-outlined">person</mat-icon> <mat-icon class="material-symbols-outlined info">info</mat-icon> </button>
        <button mat-raised-button id="openExchange" *ngIf="!gameService.players[gameService.turn].canDice" (click)="gameService.openExchangeDialog()" [disabled]="gameService.playerWhoWonId != '' || gameService.movingCamera" [matTooltipPosition]="'above'" matTooltip="Start an Exchange"><span class="title">Exchange</span><mat-icon class="material-symbols-outlined">currency_exchange</mat-icon></button>
        <button mat-raised-button id="nextTurnBtn" *ngIf="!gameService.players[gameService.turn].canDice" (click)="tryToGoNextTurn()" [disabled]="gameService.playerWhoWonId != '' || gameService.movingCamera" [matTooltipPosition]="'above'" matTooltip="End Your Turn"><span class="title">End Turn</span><mat-icon class="material-symbols-outlined">logout</mat-icon></button>
        <button mat-raised-button id="diceBtn" *ngIf="gameService.players[gameService.turn].canDice" (click)="rollTheDice()" [disabled]="gameService.playerWhoWonId != '' || gameService.movingCamera || gamePhysicsService.dicesRolling" [matTooltipPosition]="'above'" matTooltip="Throw The Dice"><span class="title">Dice Roll</span><mat-icon class="material-symbols-outlined">casino</mat-icon></button>
        <button mat-raised-button *ngIf="gameService.players[gameService.turn].prison.inPrison && gameService.players[gameService.turn].canDice" [disabled]="gameService.players[gameService.turn].money<50 || gameService.playerWhoWonId != '' || gameService.movingCamera || gamePhysicsService.dicesRolling" (click)="whatToDoInPrison('payToExit')" [matTooltipPosition]="'above'" matTooltip="Pay And Exit"><span class="title">Pay</span><mat-icon class="material-symbols-outlined">payments</mat-icon></button>
        <button mat-raised-button *ngIf="gameService.players[gameService.turn].prison.inPrison && gameService.players[gameService.turn].prison.getOutCards && gameService.players[gameService.turn].canDice" (click)="whatToDoInPrison('freeExit')" [disabled]="gameService.playerWhoWonId != '' || gameService.movingCamera || gamePhysicsService.dicesRolling" [matTooltipPosition]="'above'" matTooltip="Use Free Card And Exit"><span class="title">Exit Free</span><mat-icon class="material-symbols-outlined">exit_to_app</mat-icon></button>  
    </div>

    <button mat-icon-button id="pauseBtn" (click)="gameService.gamePaused=true"><mat-icon>pause</mat-icon></button>

    <ng-template #showDiceResultDialog>

        <div class="doubleDiceTitle" *ngIf="gameService.players[gameService.turn].prison.doubleDiceCounter">
            <h1>DOUBLE!! </h1> <span>x{{gameService.players[gameService.turn].prison.doubleDiceCounter}}</span>
        </div>
        <div *ngFor="let res of gamePhysicsService.diceRes" [ngClass]="['dice', getDiceResClass(res)]" [@showDice]>       
            <div class="dotsContainer">
                <div class="dot" *ngIf="res < 4"></div>
                <div class="dot" *ngIf="res >= 2 && res <= 3"></div>
                <div class="dot" *ngIf="res == 3"></div>
                <div *ngIf="res > 3 && res < 6" class="innerDotsContainer">
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div *ngIf="res == 5" class="innerDotsContainer">
                    <div class="dot"></div>
                </div>
                <div *ngIf="res > 3 && res < 6" class="innerDotsContainer">
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div *ngIf="res === 6" class="innerDotsContainer">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div *ngIf="res === 6" class="innerDotsContainer">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </ng-template>


    <div id="debugger" *ngIf="gameService.debugMode" fxLayout="column">

        <div class="theme" fxLayout="column">
            <span class="title">Theme Colors</span>
            <mat-form-field>
                <mat-label>Background</mat-label>
                <div class="colorContainer" fxLayoutAlign="start center">
                    <input matInput type="text" [(ngModel)]="gameService.sessionTheme.background">
                    <input matInput type="color" [(ngModel)]="gameService.sessionTheme.background">
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Card Color</mat-label>
                <div class="colorContainer" fxLayoutAlign="start center">
                    <input matInput type="text" [(ngModel)]="gameService.sessionTheme.cardColor" (ngModelChange)="gameService.changeCardColor()">
                    <input matInput type="color" [(ngModel)]="gameService.sessionTheme.cardColor" (ngModelChange)="gameService.changeCardColor()">
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Card Border</mat-label>
                <div class="colorContainer" fxLayoutAlign="start center" fxLayoutAlign="start center">
                    <input matInput type="text" [(ngModel)]="gameService.sessionTheme.cardBorder" (ngModelChange)="gameService.changeCardColor()">
                    <input matInput type="color" [(ngModel)]="gameService.sessionTheme.cardBorder" (ngModelChange)="gameService.changeCardColor()">
                </div>
            </mat-form-field>
        </div>

        <div class="camera" fxLayout="column">
            <span class="title">Camera</span>

            <mat-form-field>
                <mat-label>Position X</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.camera._objRef.position.x">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Position Y</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.camera._objRef.position.y">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Position Z</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.camera._objRef.position.z">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Zoom</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.camera._objRef.zoom">
            </mat-form-field>

            <span class="title">Camera Controls </span>
            <mat-form-field>
                <mat-label>Target X</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.cameraControls._objRef.target.x">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Target Y</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.cameraControls._objRef.target.y">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Target Z</mat-label>
                <input matInput type="number" [(ngModel)]="gameService.cameraControls._objRef.target.z">
            </mat-form-field>

        </div>

    </div>
</div>

<div *ngIf="gameService.gamePaused" class="pausedGame" fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button (click)="gameService.gamePaused=false">Continue</button>
    <button mat-raised-button disabled="true">Options</button>
    <button mat-raised-button (click)="gameService.goBackHome()">Home</button>

    <button mat-raised-button *ngIf="gameService.godMode" id="debugButton" (click)="gameService.debugMode = !gameService.debugMode"> {{gameService.debugMode ? 'Disable' :  'Enable' }} Debugger</button>
</div>