.propertiesContainer{
    flex-wrap: wrap;
    width: 250px;
    .property{
        width: 5px;
        height: 10px;
        position: relative;
        margin-top: 10px;
        &:not(:first-child){
            margin-left: 10px;
        }
        cursor: pointer;
        .propDistrict{
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }
    }
    .getOutCard{
        width: 37px;
        height: 42px;
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        mat-icon{
            margin-top: -10px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .counter{
            position: absolute;
            bottom: 0;
            font-size: 12px;
        }
    }
    .chosenProperty{
        width: 15px;
        height: 15px;
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: 50%;
        background: #97e997;
        mat-icon{
            font-size: 14px;
        }
    }
}