#messageContainer{
    overflow: hidden;
    padding: 20px;
    .messageTitle{
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: 1;
        position: relative;    
        padding-bottom: 10px;
        h1{
            margin: 0;
            font-size: 14px;
        }
        .closeDialog{
            height: 40px;
            width: 40px;
            min-width: unset;
            padding: 0;
            box-shadow: none;
        }
    }
    .messageDialogTextContainer{
        min-width: 250px;
        max-width: 300px;
        background-color: #fff;
        padding-top: 10px;
        .messageText{
            font-size: 14px;
            font-weight: 500;
        }
        .changedTurn{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 16px;
            min-height: 30px;
        }
        .playerInfos{
            padding: 10px 0px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            .icon{
                width: 10%;
            }
            .money{
                width: 20%;
                text-align: end;
            }
            .name{
                width: 70%;
            }
        }
        .playerProps{
            max-height: 208px;
            overflow-y: auto;
            overflow-x: hidden;
            background: #eeeeee;
            border-radius: 5px;
            padding: 0px 10px;
            padding-bottom: 10px;

            /* Scrollbar */
            &::-webkit-scrollbar {
                width: 5px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #c4c4c4;
                border-radius: 5px;
            }
        }
        .winScreen{
            text-align: center;
            margin: 20px 0px;
            font-size: 14px;
        }
    }

    .specialCardContainer{
        .cardContainer{
            background-color: #fff;
            box-shadow: 0px 6px 9px -11px #000000;
            padding: 10px;
            min-height: 100px;
            .card{
                min-width: 250px;
                max-width: 300px;
                border: 2px solid black;
                padding: 10px;
                overflow: hidden;
                .title{
                    font-size: 18px;
                    text-transform: uppercase;
                    text-align: center;
                    overflow: hidden;
                }
                
                .messageText{
                    font-size: 16px;
                    text-align: center;
                    min-height: 150px;
                    overflow: hidden;
                }
                &.chance{
                }
                &.chest{
                }
            }
        }
        .specialCardBtnContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
    }

    .winScreen{
        .time{
            font-weight: bold;
        }
    }
    .playerProps{
        h3{
            font-size: 14px;
        }
    }
    .finishWarning{
        margin-top: 50px;
        .bankRuptBtn{
            width: 100px;
        }
    }
    .messageDivider{
        height: 1px;
        background: #A8A8A8;
        border: none;
        margin: 0;
    }
   
}

.okBtn{
    width: 150px;
    &Cards{
        width: 150px;
    }
}