<div id="messageContainer" [ngClass]="data.eventType === 'chance' || data.eventType === 'communityChest' ? 'card' : ''" [ngStyle]="{background : data.eventType !== 'showDiceResult' && data.eventType !== 'chance' && data.eventType !== 'communityChest' ? '#fff' : ''}">

    <div *ngIf="data.eventType === 'showPlayerProps'" class="messageTitle" fxLayoutAlign="space-between center">
        <h1>Player Info</h1>
        <button mat-raised-button (click)="gameService.closeDialog(dialogRef)" class="closeDialog"><mat-icon>close</mat-icon></button>

    </div>

    <div *ngIf="data.eventType !== 'showDiceResult' && data.eventType !== 'chance' && data.eventType !== 'communityChest' && data.eventType !== 'showPlayerProps'" fxLayoutAlign="space-between center" class="messageTitle">
        <h1>Message</h1>
    </div>
    <hr class="messageDivider" *ngIf="data.eventType !== 'showDiceResult' && data.eventType !== 'chance' && data.eventType !== 'communityChest'">

    <div *ngIf="data.eventType != 'showDiceResult' && data.eventType != 'chance' && data.eventType != 'communityChest'" class="messageDialogTextContainer">
        <h1 *ngIf="this.data.eventType !== 'changeTurn' && !data.textData.showPlayerProps" class="messageText">{{data.textData.text ?? data.textData.title}}</h1>
        <div class="playerInfos" *ngIf="(gameService.playerWhoWonId != '' || data.textData.showPlayerProps ) && this.getActualPlayerProps()">
            <mat-icon class="material-symbols-outlined icon">
                person
            </mat-icon>
            <span class="name">
                {{gameService.players[gameService.turn].name}}
            </span>
            <span class="money">
                {{gameService.players[gameService.turn].money}}$
            </span>
        </div>
        <div *ngIf="gameService.playerWhoWonId != '' && this.data.eventType !== 'changeTurn'" class="winScreen">
            <div>Time to finish the game:</div>
            <div class="time">{{gameService.gameAmountTime}}</div>
        </div>

        <div *ngIf="(gameService.playerWhoWonId != '' || data.textData.showPlayerProps ) && getActualPlayerProps()" class="playerProps">
            <app-player-properties [playerId]="gameService.playerWhoWonId != '' ? gameService.playerWhoWonId : gameService.players[gameService.turn].id"></app-player-properties>
        </div>
        <div *ngIf="data.eventType !== 'changeTurn' && !data.textData.showPlayerProps" class="finishWarning" fxLayoutAlign="space-evenly center">
            <button mat-raised-button (click)="executeAndClose()" *ngIf="data.textData.goBankRupt"color="warn" class="bankRuptBtn">Confirm</button>
            <button mat-raised-button (click)="closeDialog()" *ngIf="data.textData.goBankRupt" class="bankRuptBtn">No</button>
            <button mat-raised-button (click)="executeAndClose()" *ngIf="!data.textData.goBankRupt && data.eventType !== 'showPlayerProps'" class="okBtn">Ok</button>
        </div>
        
        <div *ngIf="data.eventType === 'changeTurn'" class="changedTurn">
            <span> It's {{data.textData.playerName }} turn.</span>
        </div>

    </div>

    <div *ngIf="data.eventType === 'chance' || data.eventType === 'communityChest'" class="specialCardContainer">
        <div class="cardContainer">
            <div fxLayout="column" fxLayoutAlign="center space-between" [ngClass]="['card', data.eventType === 'chance' ? 'chance' : 'chest']">
                <span *ngIf="data.eventType === 'chance'" class="title">Chance</span>
                <span *ngIf="data.eventType === 'communityChest'" class="title">Community Chest</span>
    
                <span class="messageText" fxLayoutAlign="center center">{{data.textData.text ?? data.textData.title}}</span>
            </div>
        </div>
        
        <div class="specialCardBtnContainer" *ngIf="!data.textData.goBankRupt && data.eventType !== 'showPlayerProps' && data.eventType === 'chance' || data.eventType === 'communityChest'">
            <button  mat-raised-button (click)="executeAndClose()" class="okBtnCards">Ok</button>
        </div>
    </div>

</div>