.home{
    width: 100vw;
    height: 100vh;
    font-family: mova;

    &__ui-container{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        &__title{
            width: 100%;
            text-align: center;
            margin: 0;
            pointer-events: none;
            span{
               font-size: 18px;
            }
        }
    }
    
    .playText{
        position: absolute;
        bottom: 100px;
        width: 100%;
        text-align: center;
        pointer-events: none;
        animation: scaleAnimation infinite 1.5s;
    }

    .rightsSection{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        pointer-events: none;
    }
    .sideButtons{
        position: absolute;
        right: 20px;
        bottom: 50px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
}


#homeCanvas{
    opacity: 0.8;
}
@media screen and (min-width: 600px) {

    .home{
    
        &__ui-container{
    
            &__title{
                font-size: 150px;
                margin-top: -50px;
                span{
                   font-size: 18px;
                }
            }
        }
    }

    .playText{
        font-size: 25px;
    }
    .rightsSection{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {

    .home{
    
        &__ui-container{
    
            &__title{
                font-size: 80px;
                margin-top: -30px;
                span{
                   font-size: 18px;
                }
            }
        }
    }
    .playText{
        font-size: 20px;
    }
    .rightsSection{
        font-size: 10px;
    }
}

@keyframes scaleAnimation {

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }

}