<div id="home" (click)="goToChooseModeView()" [ngStyle]="{'background-color': returnSessionBg(), 'color' : returnSessionColor()}" fxLayout="column" fxLayoutAlign="center center">
    <h1 id="title" (click)="$event.stopPropagation()">Monopoly</h1>
    
    <span class="playText">PLAY</span>

    <span class="rightsSection" (click)="$event.stopPropagation()">@Hoanca Robert 2022 All Rights Reserved</span>


    <div class="sideButtons" *ngIf="false">
        <button mat-icon-button id="theme-editor-btn" (click)="gameService.switchRouter('theme-editor')" [matTooltipPosition]="'left'" matTooltip="Edit Themes"><mat-icon>format_paint</mat-icon></button>
        <button mat-icon-button id="gameTable-editor-btn" (click)="gameService.switchRouter('gameTable-editor')" [matTooltipPosition]="'left'" matTooltip="Edit GameTable"><mat-icon>edit_note</mat-icon></button>
    </div>
</div>