#home{
    width: 100%;
    height: 100%;
    font-family: mova;
    #title{
        width: 100%;
        text-align: center;
        margin: 0;
        pointer-events: none;
    }
    .playText{
        position: absolute;
        bottom: 100px;
        width: 100%;
        text-align: center;
        pointer-events: none;
    }

    .rightsSection{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        pointer-events: none;
    }
}

@media screen and (min-width: 600px) {
    #title{
        font-size: 100px;
    }
    .playText{
        font-size: 25px;
    }
    .rightsSection{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    #title{
        font-size: 70px;
    }
    .playText{
        font-size: 20px;
    }
    .rightsSection{
        font-size: 10px;
    }
}